version: '3.8'

services:
  org-project-db-redis:
    container_name: org-project-db-redis
    image: redis:latest
    restart: always
    volumes:
      - ./db-files:/db
#    ports:
#      - 9020:6379
    networks:
      - org-project

  org-project-redis-insight:
    container_name: org-project-redis-insight
    image: redislabs/redisinsight:latest
    restart: always
#    ports:
#      - 9030:8001
    networks:
      - org-project
    depends_on:
      - org-project-db-redis

networks:
  org-project:
    name: org-project
